
<div>
  <p>
    <mat-toolbar color="primary">
      
      <span>JobOffersApp</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
    
        <a routerLink="/jobs" routerLinkActive="active"><span style="color: azure;">Jobs</span></a>
      &nbsp;&nbsp;
     
        <a routerLink="/favourites" routerLinkActive="active"><span style="color: azure;">Favorites</span></a>
     
     
    </mat-toolbar>
  </p>
  </div>


<!-- <app-job-list></app-job-list> -->
<router-outlet></router-outlet>
 <!-- footer -->
 <mat-toolbar color="transparent" style="margin-top: 50px;margin-bottom:50px;">
  <span class="spacer"></span>
  <span><a href="https://www.naukri.com/it-jobs?src=discovery_trendingWdgt_homepage_srch" style="padding-left: 400px;">Software & Engineering</a></span>
  <span><a href="https://www.naukri.com/remote-jobs?src=discovery_trendingWdgt_homepage_srch" style="padding-left: 40px;">Remote</a></span>
  <span><a href="https://www.naukri.com/mnc-jobs?src=discovery_trendingWdgt_homepage_srch" style="padding-left: 40px;">MNC</a></span>
  <span><a href="https://www.naukri.com/marketing-jobs?src=discovery_trendingWdgt_homepage_srch" style="padding-left: 40px;">Marketting</a></span>
  <span><a href="https://www.naukri.com/fresher-jobs?src=discovery_trendingWdgt_homepage_srch" style="padding-left: 40px;">Fresher</a></span>
  
</mat-toolbar>
